*{
    margin: 0px;
    padding: 0px;
    
}

#name{
   
    padding-top: 250px;

    
}

header{
    height: 600px;
    background-image: url(../images/PortadaBanner.jpg);
    background-size: cover;
    background-position: 35% 50%;
}

h1{
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Rubik', sans-serif;
    font-size: 9rem;
}
h2{
    font-size: 9rem;
    font-weight: 300;
    line-height: 0.5;
}

h3{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 0;
}